<h1>Web Site's Registration</h1>
<form class="registration" action="/users" method="POST">
  <input type="text" name="user[full_name]" placeholder="Full Name">
  <input type="email" name="user[email]" placeholder="Email">
  <input type="password" name="user[password]" placeholder="Password">
  <input type="submit" value="Break yo'self, fool!">
</form>
