<center>
<div class="container">
  <h1>Welcome to PicRecipe!</h1>
  <h3>Pick a tasty picture and get that recipe</h3>

  <br>

  <img src="/BBQPorkChops.jpg"><br>

    <% @recipes.each do |recipe| %>
    <a href="/recipes/<%=recipe.id%>"><img src="<%= recipe.photo_url %>"></a><br>

  <% end %>

<left>
  <br>
  <main>
<!-- <div id="output"></div> -->
    <form>
      <input id="searchBox" type="text" type="submit" name="searchBox" required/>
      <button id="searchButton" type="submit">Get Image</button>
    </form>
    <div id="output"></div>
  </main>
  <script src="./js/application.js"></script>
<br>
</left>
</div>

</center>
